<%= form_for @item do |f| %>

  <div class="form-control">
    <%= f.label :title%>
    <%= f.text_field :title%>
  </div>

  <div class="form-control">
    <%= f.label :summary%>
    <%= f.text_area :summary%>
  </div>

  <div class="form-control">
    <%= f.label :price%>
    <%= f.text_field :price%>
  </div>

  <div class="form-control">
    <%= f.submit 'Зберегти'%>
  </div>



<%end%>
